*.exe
*.o
*.a

# IDE - VSCode
# .vscode
# */.vscode/settings.json
# */.vscode/tasks.json
# */.vscode/launch.json
# */.vscode/extensions.json
*/.history/*

.test
*/.test
*/.test/*
**/build/*


node_modules
